.colorSquareRed {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: scale(1);
  }
  .colorSquareRed:active {
    transform: scale(0.95);
    transition: transform .2s;
  }